
/* Logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 900px;
    height: 50px;
    transform: scale(0.9);
}

/* Formulario de login */
#login {
    max-width: 480px;
    margin: 2em auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    position: relative;
    /*Asegura que el formulario de login esté en un plano superior */
    z-index: 1; /*Establece la posición z del formulario de login */
}

#login h2 {
    margin-top: 0;
}

#login form {
    display: flex;
    flex-direction: column;
}

#login label {
    font-weight: bold;
}

#login {
    flex: 1;
}

/*#imagen {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

#imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 107px 200px 100px 50px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    #login,
    #imagen {
        flex: none;
        width: 100%;
    }
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.938),rgba(255, 255, 255, 0.928)), url('/images/fondo.jpg');
    background-repeat: repeat;
    background-size: 300px 300px; /*Ajusta estos valores según el tamaño que desees para tu imagen de fondo */
}

@media(max-width: 990px) {
    .navigation {
        padding: 10px 100px;
    }

    .toggle {
        display: flex;
        color: #fff;
        cursor: pointer;
    }

    .close {
        display: block;
        position: absolute;
        color: #fff;
        right: 0;
        font-size: 30px;
        cursor: pointer;
        margin: 50px;
    }

    .nav {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #F9C226;
        left: 0;
        top: 0;
        transition: all 3s ease;
    }

    .nav ul li {
        display: block;
        font-size: 30px;
        margin: 20px 0;
        text-align: center;
    }

    .nav ul > li > a:hover {
        color: #070000;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }

    /*Para ocultar la imagen cuando se abra web en celulares*/
    /*.photo {
        display: none;
    }*/

    .form-cont {
        width: 100%;
        max-height: 100%;
    }






}

.btn {
    background-color: rgba(228, 0, 70, 1);
    color: white;
}

