@model Front_Cooperativa_AbrahamLincoln.Models.LoginViewModel
@{
    ViewData["Title"] = "login";
    // ViewBag. ShowFooter = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LoginFooter = true;
    @inject IConfiguration Config
  }

@* <!DOCTYPE html> *@
<html>
<head>
    <title>Página de Abraham Lincoln</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="~/css/acceso.css">
    @* <script src="~/Scripts/jquery-3.6.0.min.js"></script> *@
    
    <!-- Incluir SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    
    <main class="container-lg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <script>
                function mostrarAlerta() {
                    Swal.fire({
                        icon: "error",
                        title: "Aun no inicias Sesión",
                        text: "Para ver este contenido, por favor ingresa tu Codigo Socio y Clave",
                        // footer: '<a href="#">Why do I have this issue?</a>'
                    });
                }
            </script>

            <img src="~/images/logotipo.png" alt="abrahamlincoln" width="300" height="100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/login">INICIO</a>
                    </li>
                    <li class="nav-item">
                        @* <a class="nav-link" href="https://abrahamlincoln.edu.pe/language/en/home-2/" target="_blank">COLEGIO</a> *@
                        <a class="nav-link" href="@Config["Redirecciones:Colegio"]" target="_blank">COLEGIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="mostrarAlerta()">HISTORIA</a>
                    </li>
                    <li class="nav-item">
                        @* a class="nav-link" href="http://181.65.131.105/proveedoresal" target="_blank">PROVEEDORES</a> *@
                        <a class="nav-link" href="@Config["Redirecciones:Proveedores"]" target="_blank">PROVEEDORES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="mostrarAlerta()">NORMAS LEGALES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="mostrarAlerta()">SEGURO ESTUDIANTIL</a>
                    </li>
                </ul>
            </div>
        </nav>




         <div class="row overlay-scrollbar">
             <div class="col-12 col-md-7 col-lg-7 col-xl-7 col-xxl-8" id="login">
                <h1 class="resaltado">COOPERATIVA DE SERVICIOS EDUCACIONALES ABRAHAM LINCOLN</h1>
                <p></p>
                <p></p>

                   <form>
                    <h5><b>Ingrese sus Datos</b></h5>
                    <p></p>
                    <label for="codigo">Código Socio:</label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="codigo" placeholder="S0000000">
                    </div>
                    <label for="clave">Clave:</label>
                    <div class="form-floating mb-3">
                        <input type="password" id="password" class="form-control"
                               placeholder="Password">
                    </div>
                    @* <button type="button" class="btn" onclick="iniciarSesion()" id="boton-ingreso">Ingresar</button> *@
                    <button type="button" class="btn" onclick="iniciarSesion()" id="boton-ingreso">Ingresar</button>
                    <br>
                    <div>
                        <label>Si no recuerda su clave, solicitarlo al correo: <a class="nav-link" href="mailto:sistema@abrahamlincoln.edu.pe">sistema@abrahamlincoln.edu.pe</a>	</label>
                    </div>
                </form>   

                @*ACA ACA EESSS*@

                @* <form id="formlogin" asp-controller="Login" asp-action="login" method="post" onsubmit="enviarFormulario(event)">
                        <h4><b>Ingrese sus Datos</b></h4>
                    <p></p>
                        <label for="codigo">Código Socio:</label>
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Codigo" id="codigo" placeholder="S0000000">
                        </div>
                        <label for="clave">Clave:</label>
                        <div class="form-floating mb-3">
                        <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Password">
                        </div>
                    <button type="submit" class="btn" id="boton-ingreso">Iniciar Sesión</button>
                        <br>
                        <div>
                        <label>Si no recuerda su clave, la puede solicitar al correo: <a class="nav-link" href="mailto:sistema@abrahamlincoln.edu.pe">sistema@abrahamlincoln.edu.pe</a>	</label>
                        </div>
                </form>  *@

               
                     
            </div>

            <div class="col-12 col-md-5 col-lg-5 col-xl-5 col-xxl-4 " id="imagen">
                 <img class="photo" src="~/images/login.jpg" alt="Imagen"> 
                @* <img class="photo" src="@ViewBag.RutaImagen" alt="Imagen"> *@
            </div>
        </div>
    </main> 
    


    @* <script src="~/js/bootstrap.js"></script> *@
    @* <script src="~/Scripts/jquery-3.6.0.min.js"></script> *@
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

    <script src="/js/session-timeout.js"></script> 
    <!-- Incluir SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- Incluir SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*SCRIPT NUEVO 3-1-2024*@
     @* <script>
        function iniciarSesion() {

        
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("formLogin");
            // const formData = {
            //     codigo: document.getElementById("codigo").value,
            //     password: document.getElementById("password").value,
            // }
            // };

            form.addEventListener("submit", async function (event) {
                event.preventDefault();

                // const jsonBody = JSON.stringify(Object.fromEntries(formData));
                    const formData = new FormData(form);
                const url = "http://173.212.229.137:81/api/Loggin/Login";
                // const url = "https://localhost:7167/api/Loggin/Login";
                const method = "POST";
                const headers = new Headers();
                headers.append('Content-Type', 'application/json');
                console.log(formData)
                try {
                    // const response = await fetch(url, {
                    //     method: method,
                    //     headers: headers,
                    //     body: jsonBody
                    // });

                    fetch(url, {
                        method: 'POST',
                        headers: headers,
                        body: jsonBody
                    }).then(response => {
                        if (response.ok) {
                            // Manejar la respuesta exitosa aquí
                            const responseData = await response.json();
                            // Muestra la alerta Swal aquí si la respuesta es exitosa
                            alert('Mensaje prueba');
                            Swal.fire({
                                icon: 'success',
                                title: '¡Inicio de sesión exitoso!',
                                text: 'Bienvenido',
                                showConfirmButton: false,
                                timer: 1500
                            }).then((result) => {
                                window.location.href = '/Consulta/Index';
                            });
                        } else {
                            // Manejar el caso si la respuesta del servidor no es exitosa (por ejemplo, error 400, 500, etc.)
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Inicio de sesión fallido'
                            });
                        }
                    })
                } catch (error) {
                    // Manejar cualquier error que pueda ocurrir durante la solicitud fetch
                    console.error('Error:', error);
                    Swal.fire({
                        title: "Error",
                        text: "Error desconocido al iniciar sesión.",
                        icon: "question"
                    });
                }
            });
        });
        }
    </script>  *@


    <script>
        function iniciarSesion() {
        var codigo = $("#codigo").val(); // Obtener el valor del campo código
        var password = $("#password").val(); // Obtener el valor del campo contraseña
        // Crear un objeto con las credenciales
        var credenciales = {
            Codigo: codigo,
            Password: password
        };

        $.ajax({
                // url: 'https://localhost:7167/api/Loggin/Login',
                url: 'http://173.212.229.137:81/api/Loggin/Login',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(credenciales),
            success: function (response) {
                // Manejar la respuesta del servidor en caso de éxito
                console.log(response);
                    
                    const credenciales = {
                       Mensaje: response.mensaje,
                       NombreUsuario: response.nombreUsuario
                    };
                    const jsonCredenciales = JSON.stringify(credenciales);
                    $.ajax({
                         url: '@Url.Action("Login","Login")',
                        method: 'POST',
                        contentType: 'application/json',
                        data: jsonCredenciales // Enviar los datos recibidos al controlador
                    }).then(() => {
                        // console.log('Datos enviados al controlador');
                        window.location.href = '/Consulta/Index';

                    let timerInterval;
                    Swal.fire({
                        title: "Iniciando Sesion",
                        html: "Estara entrando en... <b></b> millisegundos.",
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading();
                            const timer = Swal.getPopup().querySelector("b");
                            timerInterval = setInterval(() => {
                                timer.textContent = `${Swal.getTimerLeft()}`;
                            }, 100);
                        },
                        willClose: () => {
                            clearInterval(timerInterval);
                        }
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                            console.log("I was closed by the timer");
                        }
                    });
                });
                // Redirigir a una página de inicio de sesión exitoso o realizar alguna acción
            },
            error: function (error) {
                // Manejar errores de la solicitud al servidor
                console.log(error.responseJSON);
                    if (error.responseJSON && error.responseJSON.mensaje) {
                        // alert(error.responseJSON.mensaje);
                        Swal.fire({
                            icon: "error",
                            title: "Error al Ingresar",
                            text: "Codigo Socio y/o Clave Incorrecta",
                            // footer: '<a href="#">Why do I have this issue?</a>'
                        });
                    } else {
                        // alert("Error desconocido al iniciar sesión.");
                        Swal.fire({
                            title: "Error",
                            text: "Error desconocido al iniciar sesión.",
                            icon: "question"
                        });
                    }
                // Mostrar un mensaje de error al usuario o realizar alguna acción
            }
        });
        }
        iniciarSesion();

    </script>  


</body>
</html>


